//$text-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
//$text-font-family: 'Lobster', Helvetica, sans-serif !default;
//$text-font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif !default;
$text-font-family: 'EB Garamond', Helvetica, sans-serif !default;
$monospace-font-family: Consolas, Monaco, 'Courier New', monospace !default;
$headings-font-family: $text-font-family !default;
$buttons-font-family: $text-font-family !default;
$input-font-family: $text-font-family !default;
